.section-title-header {
    margin: 6vmin auto 2vmin auto;
    text-align: center;
    white-space: nowrap;
    font-family: Oranienbaum, serif;
    font-size: 58px;
}

.section-title-picture {
    display: flex;
    margin: auto;
    max-width: 550px;
    -webkit-user-drag: none;
}

.section-title a {
    display: block;
    margin: 5vmin auto 4vmin auto;
    text-align: center;
    text-decoration: underline;
    font-size: 26px;
    white-space: nowrap;
    color: #0052a3;
}

@media screen and (max-width: 570px){
    .section-title-picture {
        max-width: 300px;
    }
    .section-title-header {
        font-size: 47px;
    }
    .section-title a {
        padding-top: 30px;
        font-size: 20px;
    }
}

@media screen  and (max-width: 470px){
    .section-title-picture {
        max-width: 250px;
    }
    .section-title-header {
       font-size: 35px;
        padding-bottom: 20px;
    }
}

@media screen  and (max-width: 400px){
    .section-title-picture {
        max-width: 250px;
    }
    .section-title-header {
        font-size: 27px;

    }
}
