body {
    margin: 0;
    font-family: Roboto Slab, serif;
}

section {
    width: 100%;
}

/* Navigation bar */
.navigation-bar-divider {
    border-bottom: solid black 1px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

button:focus {
    outline: none;
}

.hidden {
    display: none;
}

.navbar {
    border-bottom: 1px solid #1d1d1f;
    width: 100%;
}

.navbar-brand {
    font-size: 38px;
    font-weight: bold;
    font-family: Oranienbaum, serif;
    user-select: none;
}

.nav-link {
    white-space: nowrap;
}

.navbar-nav > li {
    padding-left: 0.68em;
    padding-right: 0.68em;
    font-size: 20px;
}

.navbar-light .navbar-toggler {
    border-color: white;
    color: #1d1d1f;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #1d1d1f;
}


@media screen and (max-width: 570px) {
    .navbar-brand {
        font-size: 30px;
    }
}
@media screen and (max-width: 470px) {
    .navbar-brand {
        font-size: 25px;
        margin-right: 0;
    }
}
@media screen and (max-width: 400px) {
    .navbar-brand {
        font-size: 17px;
    }
}
.form-group {
    width: auto;
}