logging:
  level:
    com.vk.api.sdk.httpclient: error
    root: info

spring:
  main:
    web-application-type: none

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop