.navbar {
    display: none;
}

button:focus {
    outline: none;
}

.navbar-light .navbar-toggler {
    border-color: white;
    color: #1d1d1f;
}

@media (max-width: 1000px) {
    .navbar {
        display: flex;
    }

    .navbar-brand {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #1d1d1f;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: underline;
        color: #1d1d1f;
    }
}

@media (max-width: 470px) {
    .navbar-brand {
        font-size: 1.2em;
    }
}

@media (max-width: 310px) {
    .navbar-brand {
        font-size: 0.7em;
        margin-right: 0;
    }
}