body {
    margin: 0;
    font-family: Roboto Slab, serif;
}

section {
    width: 100%;
}

/* Navigation bar */
.navigation-bar-divider {
    border-bottom: solid black 1px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#section-title-header {
    margin: 6vmin auto 2vmin auto;
    text-align: center;
    font-family: Oranienbaum, serif;
    font-size: 8vmin;
    white-space: nowrap;
}

#section-title-picture {
    display: block;
    margin: auto;
    width: 60vmin;
    -webkit-user-drag: none;
}

#section-title a {
    display: block;
    margin: 5vmin auto 4vmin auto;
    text-align: center;
    text-decoration: underline;
    font-size: 2.8vmin;
    white-space: nowrap;
    color: #0052a3;
}

/* Feedback */

.feedback-container {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    align-items: center;
    justify-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
    text-align: center;
}

.feedback-article {
    display: flex;
    align-self: end;
    font-size: 1.4vw;
    margin-bottom: 1em;
    width: 40vw;
}

#feedback-form {
    width: 40vw;
}

#feedback-text {
    width: 100%;
    min-height: 10vw;
    outline: none;
}

.feedback-button {
    margin-top: 1em;
    width: 20vw;
    font-size: 1.2vw;
}

.feedback-header {
    font-size: 4vw;
}

@media (max-width: 870px) {
    .feedback-article {
        width: 60vw;
        font-size: 2vw;
    }

    #feedback-form {
        width: 60vw;
    }

    .feedback-button {
        width: 30vw;
        font-size: 1.5vw;
    }

    #feedback-text {
        min-height: 15vw;
    }

    .feedback-header {
        font-size: 6.5vw;
    }
}

@media (max-width: 600px) {
    .feedback-container {
        grid-template-rows: 1fr 1fr 2fr;
    }

    .feedback-header {
        font-size: 9vw;
    }

    .feedback-article {
        width: 90vw;
        font-size: 3.5vw;
    }

    #feedback-form {
        width: 90vw;
    }

    #feedback-text {
        min-height: 20vw;
        margin-top: 2em;
    }

    .feedback-button {
        width: 40vw;
        font-size: 2.5vw;
        height: 7vw;
    }
}