body {
    margin: 0;
    font-family: Roboto Slab, serif;
}

section {
    width: 100%;
}

/* Navigation bar */
.navigation-bar-divider {
    border-bottom: solid black 1px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#section-title-header {
    margin: 6vmin auto 2vmin auto;
    text-align: center;
    font-family: Oranienbaum, serif;
    font-size: 8vmin;
    white-space: nowrap;
}

#section-title-picture {
    display: block;
    margin: auto;
    width: 60vmin;
    -webkit-user-drag: none;
}

#section-title a {
    display: block;
    margin: 5vmin auto 4vmin auto;
    text-align: center;
    text-decoration: underline;
    font-size: 2.8vmin;
    white-space: nowrap;
    color: #0052a3;
}

/* Feedback */

#feedback-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-article {
    text-align: center;
    font-size: 1.5em;
}

#feedback-form {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: start;
}

#feedback-text {
    min-height: 30vmin;
    max-height: 100vmin;
    width: 60vmin;
}

textarea {
    outline: none;
}

#feedback-button {
    margin-top: 0.7em;
}