<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="../static/scss/style.css">
    <link rel="stylesheet" href="../static/scss/userCabinet.css">
    <script src="https://kit.fontawesome.com/48023aa654.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <title>Кабинет</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="index.html">Губернский Печатный Двор</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="feedback.html">Жалобная книга</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Вести двора</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hidden nav-right" href="userCabinet.html">Кабинет<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hidden nav-right" href="#">Выход</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Выход</a>
            </li>
        </ul>
    </div>
</nav>
<section>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="cabinet-header">
                    <p>Моя корреспонденция</p>
                    <hr class="cabinet-divider">
                </div>
                <div class="cabinet-article">
                    <p>По всей видимости, вы ещё не сделали ни одного заказа. Так чего же вы ждёте?</p>
                </div>
                <div class="cabinet-container accordion" id="accordionExample">
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-1">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    Popugaicheekee.docx

                                </button>
                            </h5>
                    <div class="cabinet-order collapse show card-body" id="collapseOne" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                        <span class="cabinet-order-document-time">02.12.2020 15:35:34</span>
                        <div class="cabinet-order-document">
                            <div class="cabinet-order-document-name">
                                <p class="document-name">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.docx</p>
                                <p class="document-status">: На рассмотрении</p>
                            </div>
                            <span class="cabinet-order-document-info">
                                <img class="document-image" src="../static/img/machine.jpg" width="15" height="15">
                                <span class="document-pages-info">5</span>
                            </span>
                        </div>
                        <div class="cabinet-order-price">
                            <span class="order-price">15р</span>
                            <p class="order-price-description">на рассмотрении</p>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>