@import "variable.scss";

button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.navbar {
  border-bottom: 1px solid $default-color;
  width: 100%;
}

.navbar-brand {
  font : {
    size : 1.8rem;
    weight: bold;
    family: $header-font;
  }
  user-select: none;
}

.nav-link {
  white-space: nowrap;
}

.navbar-nav > li {
  padding: {
    left: 0.68em;
    right: 0.68em;
  };
  font-size: 1.1rem;
}

.navbar-light {
  .navbar-toggler {
    border-color: white;
    color: $default-color;
  }

  .navbar-nav .nav-link {
    &:focus, &:hover {
      text-decoration: underline;
      color: $default-color;
    }
  }
}

@media (max-width: 991.78px) {
  .hidden {
    display: flex;
  }
}

@media (max-width: 470px) {
  .navbar-brand {
    font-size: 1.3em;
  }
}

@media (max-width: 350px) {
  .navbar-brand {
    font-size: 1.1em;
    margin-right: 0;
  }
}

@media (max-width: 300px) {
  .navbar-brand {
    font-size: 0.9em;
  }
}

.form-group {
  width: auto;
}