@import "variable";

body {
  margin: 0;
  font-family: $default-font;
}

section {
  width: 100%;
}

/* Navigation bar */

.navigation-bar-divider {
  border-bottom: solid black 1px;
  margin: {
    left: 0.5em;
    right: 0.5em;
  };
}