@import "variables";

.container-fluid {
  padding: {
    top: 7px;
    left: 25px;
    right: 25px;
  }
  font-family: $default-font;
}

.cabinet-header {
  text-align: center;
  padding-top: 20px;
  font: {
    size: 45px;
    family: $header-font;
  }
}

.cabinet-article {
  text-align: center;
  font-size: 25px;
  line-height: 1.5em;
}

@media (max-width: 470px) {
  .cabinet-header {
    font-size: 35px;
  }
}